# Notebook to design the data importer function to create the collated dataframes

# Importing packages & setting global variables

In [1]:
import os
import pandas as pd

In [2]:
# setting directories for data i/o

data_directory = 'C:/Users/charl/Documents/CNT 2020/Evictions/cnt-evictions/data/'
hta_directory = 'hta_blocks/'
eviction_lab_directory = 'ev_lab_blocks/'

In [3]:
# updating pandas view settings

pd.set_option('display.max_columns', 999)

# Pulling files names for HTA & Eviction Lab datasets

In [4]:
# setting empty lists for import
hta_data_files = []
ev_lab_files = []

In [5]:
# getting list of available hta_files

with os.scandir(data_directory+hta_directory) as entries:
    for entry in entries:
#         print(entry.name)
        hta_data_files.append(entry.name)

In [6]:
print(hta_data_files)

['htaindex_data_blkgrps_ak.csv', 'htaindex_data_blkgrps_al.csv', 'htaindex_data_blkgrps_ar.csv', 'htaindex_data_blkgrps_az.csv', 'htaindex_data_blkgrps_ca.csv', 'htaindex_data_blkgrps_co.csv', 'htaindex_data_blkgrps_ct.csv', 'htaindex_data_blkgrps_dc.csv', 'htaindex_data_blkgrps_de.csv', 'htaindex_data_blkgrps_fl.csv', 'htaindex_data_blkgrps_ga.csv', 'htaindex_data_blkgrps_hi.csv', 'htaindex_data_blkgrps_ia.csv', 'htaindex_data_blkgrps_id.csv', 'htaindex_data_blkgrps_il.csv', 'htaindex_data_blkgrps_in.csv', 'htaindex_data_blkgrps_ks.csv', 'htaindex_data_blkgrps_ky.csv', 'htaindex_data_blkgrps_la.csv', 'htaindex_data_blkgrps_ma.csv', 'htaindex_data_blkgrps_md.csv', 'htaindex_data_blkgrps_me.csv', 'htaindex_data_blkgrps_mi.csv', 'htaindex_data_blkgrps_mn.csv', 'htaindex_data_blkgrps_mo.csv', 'htaindex_data_blkgrps_ms.csv', 'htaindex_data_blkgrps_mt.csv', 'htaindex_data_blkgrps_nc.csv', 'htaindex_data_blkgrps_nd.csv', 'htaindex_data_blkgrps_ne.csv', 'htaindex_data_blkgrps_nh.csv', 'htaindex_data_blkgrps_nj.csv', 'htaindex_data_blkgrps_nm.csv', 'htaindex_data_blkgrps_nv.csv', 'htaindex_data_blkgrps_ny.csv', 'htaindex_data_blkgrps_oh.csv', 'htaindex_data_blkgrps_ok.csv', 'htaindex_data_blkgrps_or.csv', 'htaindex_data_blkgrps_pa.csv', 'htaindex_data_blkgrps_ri.csv', 'htaindex_data_blkgrps_sc.csv', 'htaindex_data_blkgrps_sd.csv', 'htaindex_data_blkgrps_tn.csv', 'htaindex_data_blkgrps_tx.csv', 'htaindex_data_blkgrps_ut.csv', 'htaindex_data_blkgrps_va.csv', 'htaindex_data_blkgrps_vt.csv', 'htaindex_data_blkgrps_wa.csv', 'htaindex_data_blkgrps_wi.csv', 'htaindex_data_blkgrps_wv.csv', 'htaindex_data_blkgrps_wy.csv']

In [7]:
# getting list of available ev_lab_files

with os.scandir(data_directory+eviction_lab_directory) as entries:
    for entry in entries:
        ev_lab_files.append(entry.name)

In [8]:
print(ev_lab_files)

['block_groups_ak.csv', 'block_groups_al.csv', 'block_groups_ar.csv', 'block_groups_az.csv', 'block_groups_ca.csv', 'block_groups_co.csv', 'block_groups_ct.csv', 'block_groups_dc.csv', 'block_groups_de.csv', 'block_groups_fl.csv', 'block_groups_ga.csv', 'block_groups_hi.csv', 'block_groups_ia.csv', 'block_groups_id.csv', 'block_groups_il.csv', 'block_groups_in.csv', 'block_groups_ks.csv', 'block_groups_ky.csv', 'block_groups_la.csv', 'block_groups_ma.csv', 'block_groups_md.csv', 'block_groups_me.csv', 'block_groups_mi.csv', 'block_groups_mn.csv', 'block_groups_mo.csv', 'block_groups_ms.csv', 'block_groups_mt.csv', 'block_groups_nc.csv', 'block_groups_nd.csv', 'block_groups_ne.csv', 'block_groups_nh.csv', 'block_groups_nj.csv', 'block_groups_nm.csv', 'block_groups_nv.csv', 'block_groups_ny.csv', 'block_groups_oh.csv', 'block_groups_ok.csv', 'block_groups_or.csv', 'block_groups_pa.csv', 'block_groups_ri.csv', 'block_groups_sc.csv', 'block_groups_sd.csv', 'block_groups_ut.csv', 'block_groups_va.csv', 'block_groups_vt.csv', 'block_groups_wa.csv', 'block_groups_wi.csv', 'block_groups_wv.csv', 'block_groups_wy.csv']

# Import H+T Data

In [9]:
# Set selected states using state abbreviations

states_of_interest = ['ny','ca','il','tx','az','pa','fl','oh','nc','in','wa','co','dc']

In [10]:
# Import data for the states of interest

hta_state_data = {}

for file in hta_data_files:
    for state in states_of_interest:
        if state in file:
            hta_state_data[state] = pd.read_csv(data_directory+hta_directory+file)
#         print('state: '+state)

In [30]:
all_hta_state_data = {}

for file in hta_data_files:
    state_abbrev = file.split('_')[3]
    state_abbrev = state_abbrev.split('.')[0]
    
    print('state: '+state_abbrev)
    
    all_hta_state_data[state_abbrev] = pd.read_csv(data_directory+hta_directory+file)
    all_hta_state_data[state_abbrev]['state'] = state_abbrev

state: ak
state: al
state: ar
state: az
state: ca
state: co
state: ct
state: dc
state: de
state: fl
state: ga
state: hi
state: ia
state: id
state: il
state: in
state: ks
state: ky
state: la
state: ma
state: md
state: me
state: mi
state: mn
state: mo
state: ms
state: mt
state: nc
state: nd
state: ne
state: nh
state: nj
state: nm
state: nv
state: ny
state: oh
state: ok
state: or
state: pa
state: ri
state: sc
state: sd
state: tn
state: tx
state: ut
state: va
state: vt
state: wa
state: wi
state: wv
state: wy

In [11]:
hta_state_data['ny'].head()

,blkgrp,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu
0,"""360450615001""","""Watertown-Fort Drum, NY""",1.0,457.0,268.0,98.25,43.0,51.0,40.0,22.0,27.0,20.0,22.0,23.0,20.0,7.06,19.25,1.44,1.0,1.0,18425.0,16256.0,18838.0,0.0,0.0,0.0,10716.0,9226.0,10973.0,7862.0,6708.0,8054.0,2846.0,2512.0,2910.0,8.0,6.0,9.0,6.0,5.0,7.0,8.7,7.6,4.14,2.73,10400.0,25.0,15241.0,87.0,6.0,221.0,733,901.0,NaN,901.0,23.0,77.0
1,"""360050516002""","""New York-Newark-Jersey City, NY-NJ-PA""",1.0,1481.0,513.0,63.34,60.0,71.0,73.0,42.0,52.0,52.0,18.0,19.0,20.0,7.80,63.14,1.61,1.0,2.0,17047.0,14537.0,16278.0,14.0,14.0,14.0,12006.0,10194.0,10972.0,9204.0,7769.0,8290.0,2472.0,2107.0,2359.0,331.0,318.0,323.0,245.0,235.0,239.0,7.6,9.3,9.80,8.10,58001.0,55.0,55180.0,89.0,5.0,263.0,666,2347.0,2800.0,1384.0,68.0,32.0
2,"""360050019004""","""New York-Newark-Jersey City, NY-NJ-PA""",1.0,0.0,0.0,204.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.4,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,1139,NaN,NaN,NaN,NaN,NaN
3,"""360530302001""","""Syracuse, NY""",1.0,727.0,347.0,6438.76,60.0,72.0,60.0,31.0,39.0,31.0,29.0,33.0,29.0,9.91,0.53,2.15,2.0,2.0,25234.0,22422.0,26009.0,0.0,0.0,0.0,15582.0,14244.0,15895.0,11684.0,10780.0,11877.0,3898.0,3464.0,4018.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,2.2,0.24,0.05,2461.0,86.0,2477.0,83.0,124.0,NaN,2641,1384.0,1384.0,NaN,93.0,7.0
4,"""360050516004""","""New York-Newark-Jersey City, NY-NJ-PA""",1.0,879.0,552.0,54.65,48.0,57.0,58.0,31.0,39.0,39.0,17.0,18.0,19.0,4.93,49.80,1.51,1.0,1.0,15945.0,13619.0,15205.0,15.0,15.0,15.0,11307.0,9609.0,10311.0,8636.0,7288.0,7755.0,2312.0,1974.0,2204.0,359.0,347.0,353.0,266.0,257.0,261.0,8.5,9.3,13.11,10.10,57647.0,44.0,55442.0,90.0,4.0,211.0,589,1759.0,2186.0,1353.0,49.0,51.0

# HTA Data Cleaning

In [12]:
for key, df in hta_state_data.items():
    print(key)

in
az
ca
co
dc
fl
il
nc
ny
oh
pa
tx
wa

In [13]:
# clean columns in HTA data files

for key, df in hta_state_data.items():
    df['blkgrp'].replace(regex=True,inplace=True,to_replace='"',value=r'')
    df['cbsa'].replace(regex=True,inplace=True,to_replace='"',value=r'')

In [14]:
hta_state_data['ny'].head()

,blkgrp,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu
0,360450615001,"Watertown-Fort Drum, NY",1.0,457.0,268.0,98.25,43.0,51.0,40.0,22.0,27.0,20.0,22.0,23.0,20.0,7.06,19.25,1.44,1.0,1.0,18425.0,16256.0,18838.0,0.0,0.0,0.0,10716.0,9226.0,10973.0,7862.0,6708.0,8054.0,2846.0,2512.0,2910.0,8.0,6.0,9.0,6.0,5.0,7.0,8.7,7.6,4.14,2.73,10400.0,25.0,15241.0,87.0,6.0,221.0,733,901.0,NaN,901.0,23.0,77.0
1,360050516002,"New York-Newark-Jersey City, NY-NJ-PA",1.0,1481.0,513.0,63.34,60.0,71.0,73.0,42.0,52.0,52.0,18.0,19.0,20.0,7.80,63.14,1.61,1.0,2.0,17047.0,14537.0,16278.0,14.0,14.0,14.0,12006.0,10194.0,10972.0,9204.0,7769.0,8290.0,2472.0,2107.0,2359.0,331.0,318.0,323.0,245.0,235.0,239.0,7.6,9.3,9.80,8.10,58001.0,55.0,55180.0,89.0,5.0,263.0,666,2347.0,2800.0,1384.0,68.0,32.0
2,360050019004,"New York-Newark-Jersey City, NY-NJ-PA",1.0,0.0,0.0,204.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.4,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,1139,NaN,NaN,NaN,NaN,NaN
3,360530302001,"Syracuse, NY",1.0,727.0,347.0,6438.76,60.0,72.0,60.0,31.0,39.0,31.0,29.0,33.0,29.0,9.91,0.53,2.15,2.0,2.0,25234.0,22422.0,26009.0,0.0,0.0,0.0,15582.0,14244.0,15895.0,11684.0,10780.0,11877.0,3898.0,3464.0,4018.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,2.2,0.24,0.05,2461.0,86.0,2477.0,83.0,124.0,NaN,2641,1384.0,1384.0,NaN,93.0,7.0
4,360050516004,"New York-Newark-Jersey City, NY-NJ-PA",1.0,879.0,552.0,54.65,48.0,57.0,58.0,31.0,39.0,39.0,17.0,18.0,19.0,4.93,49.80,1.51,1.0,1.0,15945.0,13619.0,15205.0,15.0,15.0,15.0,11307.0,9609.0,10311.0,8636.0,7288.0,7755.0,2312.0,1974.0,2204.0,359.0,347.0,353.0,266.0,257.0,261.0,8.5,9.3,13.11,10.10,57647.0,44.0,55442.0,90.0,4.0,211.0,589,1759.0,2186.0,1353.0,49.0,51.0

# Eviction Lab Import

In [15]:
# Import data for the states of interest

ev_lab_state_data = {}

for file in ev_lab_files:
#     print('file: '+file)
    for state in states_of_interest:
        if state in file:
            ev_lab_state_data[state] = pd.read_csv(data_directory+eviction_lab_directory+file,low_memory=False)
            print('state imported: '+state)

state imported: az
state imported: ca
state imported: co
state imported: dc
state imported: fl
state imported: il
state imported: in
state imported: nc
state imported: ny
state imported: oh
state imported: pa
state imported: wa

In [16]:
ev_lab_state_data['ny'].head()

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,median-property-value,rent-burden,pct-white,pct-af-am,pct-hispanic,pct-am-ind,pct-asian,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
0,360010001001,2000,1.1,"Albany County, New York",1031.17,14.82,191.0,47.64,614.02,24618.69,67905.16,36.6,40.16,49.17,3.78,0.0,2.81,0.19,3.39,0.48,NaN,NaN,NaN,NaN,0,0,0
1,360010001001,2001,1.1,"Albany County, New York",1031.17,14.82,191.0,47.64,614.02,24618.69,67905.16,36.6,40.16,49.17,3.78,0.0,2.81,0.19,3.39,0.48,NaN,NaN,NaN,NaN,0,0,0
2,360010001001,2002,1.1,"Albany County, New York",1031.17,14.82,191.0,47.64,614.02,24618.69,67905.16,36.6,40.16,49.17,3.78,0.0,2.81,0.19,3.39,0.48,NaN,NaN,NaN,NaN,0,0,0
3,360010001001,2003,1.1,"Albany County, New York",1031.17,14.82,191.0,47.64,614.02,24618.69,67905.16,36.6,40.16,49.17,3.78,0.0,2.81,0.19,3.39,0.48,NaN,NaN,NaN,NaN,0,0,0
4,360010001001,2004,1.1,"Albany County, New York",1031.17,14.82,191.0,47.64,614.02,24618.69,67905.16,36.6,40.16,49.17,3.78,0.0,2.81,0.19,3.39,0.48,NaN,NaN,NaN,NaN,0,0,0

# Eviction Lab Data Cleaning

In [17]:
for key, df in ev_lab_state_data.items():
    print(key)

az
ca
co
dc
fl
il
in
nc
ny
oh
pa
wa

# Join all HTA datasets into one

In [31]:
all_hta_state_data['ny'].head()

,blkgrp,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu,state
0,"""360450615001""","""Watertown-Fort Drum, NY""",1.0,457.0,268.0,98.25,43.0,51.0,40.0,22.0,27.0,20.0,22.0,23.0,20.0,7.06,19.25,1.44,1.0,1.0,18425.0,16256.0,18838.0,0.0,0.0,0.0,10716.0,9226.0,10973.0,7862.0,6708.0,8054.0,2846.0,2512.0,2910.0,8.0,6.0,9.0,6.0,5.0,7.0,8.7,7.6,4.14,2.73,10400.0,25.0,15241.0,87.0,6.0,221.0,733,901.0,NaN,901.0,23.0,77.0,ny
1,"""360050516002""","""New York-Newark-Jersey City, NY-NJ-PA""",1.0,1481.0,513.0,63.34,60.0,71.0,73.0,42.0,52.0,52.0,18.0,19.0,20.0,7.80,63.14,1.61,1.0,2.0,17047.0,14537.0,16278.0,14.0,14.0,14.0,12006.0,10194.0,10972.0,9204.0,7769.0,8290.0,2472.0,2107.0,2359.0,331.0,318.0,323.0,245.0,235.0,239.0,7.6,9.3,9.80,8.10,58001.0,55.0,55180.0,89.0,5.0,263.0,666,2347.0,2800.0,1384.0,68.0,32.0,ny
2,"""360050019004""","""New York-Newark-Jersey City, NY-NJ-PA""",1.0,0.0,0.0,204.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.4,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,1139,NaN,NaN,NaN,NaN,NaN,ny
3,"""360530302001""","""Syracuse, NY""",1.0,727.0,347.0,6438.76,60.0,72.0,60.0,31.0,39.0,31.0,29.0,33.0,29.0,9.91,0.53,2.15,2.0,2.0,25234.0,22422.0,26009.0,0.0,0.0,0.0,15582.0,14244.0,15895.0,11684.0,10780.0,11877.0,3898.0,3464.0,4018.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,2.2,0.24,0.05,2461.0,86.0,2477.0,83.0,124.0,NaN,2641,1384.0,1384.0,NaN,93.0,7.0,ny
4,"""360050516004""","""New York-Newark-Jersey City, NY-NJ-PA""",1.0,879.0,552.0,54.65,48.0,57.0,58.0,31.0,39.0,39.0,17.0,18.0,19.0,4.93,49.80,1.51,1.0,1.0,15945.0,13619.0,15205.0,15.0,15.0,15.0,11307.0,9609.0,10311.0,8636.0,7288.0,7755.0,2312.0,1974.0,2204.0,359.0,347.0,353.0,266.0,257.0,261.0,8.5,9.3,13.11,10.10,57647.0,44.0,55442.0,90.0,4.0,211.0,589,1759.0,2186.0,1353.0,49.0,51.0,ny

In [32]:
for key, df in all_hta_state_data.items():
    df['blkgrp'].replace(regex=True,inplace=True,to_replace='"',value=r'')
    df['cbsa'].replace(regex=True,inplace=True,to_replace='"',value=r'')

In [33]:
all_hta_state_data['ny'].head()

,blkgrp,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu,state
0,360450615001,"Watertown-Fort Drum, NY",1.0,457.0,268.0,98.25,43.0,51.0,40.0,22.0,27.0,20.0,22.0,23.0,20.0,7.06,19.25,1.44,1.0,1.0,18425.0,16256.0,18838.0,0.0,0.0,0.0,10716.0,9226.0,10973.0,7862.0,6708.0,8054.0,2846.0,2512.0,2910.0,8.0,6.0,9.0,6.0,5.0,7.0,8.7,7.6,4.14,2.73,10400.0,25.0,15241.0,87.0,6.0,221.0,733,901.0,NaN,901.0,23.0,77.0,ny
1,360050516002,"New York-Newark-Jersey City, NY-NJ-PA",1.0,1481.0,513.0,63.34,60.0,71.0,73.0,42.0,52.0,52.0,18.0,19.0,20.0,7.80,63.14,1.61,1.0,2.0,17047.0,14537.0,16278.0,14.0,14.0,14.0,12006.0,10194.0,10972.0,9204.0,7769.0,8290.0,2472.0,2107.0,2359.0,331.0,318.0,323.0,245.0,235.0,239.0,7.6,9.3,9.80,8.10,58001.0,55.0,55180.0,89.0,5.0,263.0,666,2347.0,2800.0,1384.0,68.0,32.0,ny
2,360050019004,"New York-Newark-Jersey City, NY-NJ-PA",1.0,0.0,0.0,204.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.4,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,1139,NaN,NaN,NaN,NaN,NaN,ny
3,360530302001,"Syracuse, NY",1.0,727.0,347.0,6438.76,60.0,72.0,60.0,31.0,39.0,31.0,29.0,33.0,29.0,9.91,0.53,2.15,2.0,2.0,25234.0,22422.0,26009.0,0.0,0.0,0.0,15582.0,14244.0,15895.0,11684.0,10780.0,11877.0,3898.0,3464.0,4018.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6,2.2,0.24,0.05,2461.0,86.0,2477.0,83.0,124.0,NaN,2641,1384.0,1384.0,NaN,93.0,7.0,ny
4,360050516004,"New York-Newark-Jersey City, NY-NJ-PA",1.0,879.0,552.0,54.65,48.0,57.0,58.0,31.0,39.0,39.0,17.0,18.0,19.0,4.93,49.80,1.51,1.0,1.0,15945.0,13619.0,15205.0,15.0,15.0,15.0,11307.0,9609.0,10311.0,8636.0,7288.0,7755.0,2312.0,1974.0,2204.0,359.0,347.0,353.0,266.0,257.0,261.0,8.5,9.3,13.11,10.10,57647.0,44.0,55442.0,90.0,4.0,211.0,589,1759.0,2186.0,1353.0,49.0,51.0,ny

In [34]:
# Concating all HTA focus datasets together

aggregated_hta_df = pd.concat(all_hta_state_data.values(), ignore_index = True)

aggregated_hta_df.head()

,blkgrp,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu,state
0,021980003001,NaN,1.0,13.0,13.0,125986.35,NaN,NaN,NaN,NaN,NaN,NaN,28.0,32.0,26.0,NaN,NaN,1.85,2.0,2.0,22344.0,20488.0,22252.0,9.0,9.0,9.0,13795.0,12388.0,13984.0,10046.0,8932.0,10249.0,3583.0,3287.0,3568.0,166.0,170.0,166.0,141.0,145.0,141.0,0.2,10.0,0.26,0.0,35.0,81.0,42.0,58.0,4666.0,0.0,11177,NaN,NaN,NaN,54.0,46.0,ak
1,020160001001,NaN,1.0,1065.0,264.0,2112085.70,17.0,21.0,26.0,14.0,18.0,22.0,3.0,3.0,4.0,4.71,0.0,0.00,0.0,0.0,11859.0,10582.0,10303.0,33.0,32.0,32.0,2506.0,2279.0,2229.0,0.0,0.0,0.0,1902.0,1698.0,1652.0,604.0,581.0,577.0,514.0,495.0,491.0,2.1,10.0,3.64,0.0,7.0,31.0,8.0,0.0,2494.0,0.0,18719,997.0,1042.0,934.0,58.0,42.0,ak
2,022400004004,NaN,1.0,391.0,102.0,635721.77,40.0,48.0,46.0,27.0,34.0,32.0,12.0,14.0,14.0,NaN,NaN,0.84,1.0,1.0,17073.0,15309.0,16331.0,16.0,16.0,15.0,7804.0,6918.0,7498.0,4776.0,4180.0,4606.0,2739.0,2455.0,2619.0,289.0,283.0,274.0,246.0,241.0,233.0,5.4,10.0,61.52,0.0,29.0,7.0,32.0,51.0,4574.0,0.0,8414,1428.0,NaN,1428.0,0.0,100.0,ak
3,021300001005,"Ketchikan, AK",1.0,27.0,17.0,3087975.81,NaN,NaN,NaN,NaN,NaN,NaN,29.0,33.0,33.0,NaN,NaN,2.59,2.0,3.0,23806.0,21338.0,23882.0,8.0,7.0,7.0,18701.0,16843.0,17763.0,14783.0,13328.0,13837.0,3819.0,3422.0,3830.0,99.0,93.0,96.0,229.0,215.0,223.0,0.0,10.0,0.03,0.0,36.0,100.0,45.0,58.0,5079.0,0.0,18437,NaN,NaN,NaN,100.0,0.0,ak
4,021850003001,NaN,1.0,3056.0,0.0,2030031.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,0.01,0.0,NaN,NaN,NaN,NaN,NaN,0.0,26490,NaN,NaN,NaN,NaN,NaN,ak

In [35]:
aggregated_hta_df.groupby('cbsa')['population'].sum().sort_values(ascending=False)

cbsa
New York-Newark-Jersey City, NY-NJ-PA    19979950.0
Los Angeles-Long Beach-Anaheim, CA       13154457.0
Chicago-Naperville-Elgin, IL-IN-WI        9534008.0
Dallas-Fort Worth-Arlington, TX           6833420.0
Houston-The Woodlands-Sugar Land, TX      6346653.0
                                            ...
Vermillion, SD                              14011.0
Ketchikan, AK                               13699.0
Lamesa, TX                                  13542.0
Vernon, TX                                  13158.0
Craig, CO                                   13117.0
Name: population, Length: 917, dtype: float64

In [54]:
cbsa_by_pop_df = aggregated_hta_df.groupby('cbsa').agg({'population':['sum'],'blkgrp':['count'],'households':['sum']}).reset_index()

In [55]:
cbsa_by_pop_df.columns

MultiIndex([(      'cbsa',      ''),
            ('population',   'sum'),
            (    'blkgrp', 'count'),
            ('households',   'sum')],
           )

In [56]:
cbsa_by_pop_df.columns = ['cbsa','pop_sum','blkgrp_count','household_sum']

In [57]:
cbsa_by_pop_df.sort_values(by='pop_sum',ascending=False,inplace=True)

In [59]:
cbsa_by_pop_df.reset_index(drop=True,inplace=True)

In [60]:
cbsa_by_pop_df.head()

,index,cbsa,pop_sum,blkgrp_count,household_sum
0,592,"New York-Newark-Jersey City, NY-NJ-PA",19979950.0,14677,7121206.0
1,487,"Los Angeles-Long Beach-Anaheim, CA",13154457.0,8243,4272422.0
2,158,"Chicago-Naperville-Elgin, IL-IN-WI",9534008.0,6585,3448499.0
3,206,"Dallas-Fort Worth-Arlington, TX",6833420.0,4163,2407330.0
4,377,"Houston-The Woodlands-Sugar Land, TX",6346653.0,3018,2168642.0

In [65]:
# cbsa_by_pop_df.drop(['index'],axis=1,inplace=True)

In [70]:
top_20_cbsa = cbsa_by_pop_df.nlargest(20, 'pop_sum')['cbsa'].to_list()

In [71]:
top_20_cbsa

['New York-Newark-Jersey City, NY-NJ-PA',
 'Los Angeles-Long Beach-Anaheim, CA',
 'Chicago-Naperville-Elgin, IL-IN-WI',
 'Dallas-Fort Worth-Arlington, TX',
 'Houston-The Woodlands-Sugar Land, TX',
 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV',
 'Miami-Fort Lauderdale-West Palm Beach, FL',
 'Atlanta-Sandy Springs-Roswell, GA',
 'Boston-Cambridge-Newton, MA-NH',
 'San Francisco-Oakland-Hayward, CA',
 'Phoenix-Mesa-Scottsdale, AZ',
 'Riverside-San Bernardino-Ontario, CA',
 'Detroit-Warren-Dearborn, MI',
 'Seattle-Tacoma-Bellevue, WA',
 'Minneapolis-St. Paul-Bloomington, MN-WI',
 'San Diego-Carlsbad, CA',
 'Tampa-St. Petersburg-Clearwater, FL',
 'St. Louis, MO-IL',
 'Baltimore-Columbia-Towson, MD']

# Select HTA blockgroup level data based on top 20 CBSA

In [80]:
top_20_cbsa_hta_df = aggregated_hta_df.loc[aggregated_hta_df['cbsa'].isin(top_20_cbsa)].reset_index(drop=True,inplace=False)

In [81]:
top_20_cbsa_hta_df['blkgrp'].count()

77993

In [82]:
top_20_cbsa_hta_df.head()

,blkgrp,cbsa,blkgrps,population,households,land_acres,ht_ami,ht_80ami,ht_nmi,h_ami,h_80ami,h_nmi,t_ami,t_80ami,t_nmi,co2_per_hh_local,co2_per_acre_local,autos_per_hh_ami,autos_per_hh_80ami,autos_per_hh_nmi,vmt_per_hh_ami,vmt_per_hh_80ami,vmt_per_hh_nmi,pct_transit_commuters_ami,pct_transit_commuters_80ami,pct_transit_commuters_nmi,t_cost_ami,t_cost_80ami,t_cost_nmi,auto_ownership_cost_ami,auto_ownership_cost_80ami,auto_ownership_cost_nmi,vmt_cost_ami,vmt_cost_80ami,vmt_cost_nmi,transit_cost_ami,transit_cost_80ami,transit_cost_nmi,transit_trips_ami,transit_trips_80ami,transit_trips_nmi,compact_ndx,emp_ovrll_ndx,res_density,gross_hh_density,hh_gravity,frac_sfd,emp_gravity,emp_ndx,block_size,intersection_density,avg_block_perimeter_meters,h_cost,median_smoc,median_gross_rent,pct_owner_occupied_hu,pct_renter_occupied_hu,state
0,040130609041,"Phoenix-Mesa-Scottsdale, AZ",1.0,603.0,161.0,161.70,42.0,50.0,42.0,19.0,24.0,19.0,23.0,26.0,23.0,8.63,8.60,1.67,2.0,2.0,20079.0,17748.0,19925.0,3.0,4.0,3.0,12338.0,11151.0,12322.0,9106.0,8292.0,9115.0,3220.0,2846.0,3195.0,12.0,13.0,12.0,13.0,14.0,13.0,7.5,5.3,2.20,1.00,25032.0,55.0,14458.0,88.0,10.0,109.0,828,860.0,1039.0,742.0,40.0,60.0,az
1,040131099003,"Phoenix-Mesa-Scottsdale, AZ",1.0,2283.0,550.0,208.83,42.0,50.0,42.0,19.0,24.0,19.0,23.0,26.0,23.0,8.01,21.10,1.72,2.0,2.0,18699.0,16734.0,18581.0,6.0,7.0,6.0,12399.0,10982.0,12316.0,9379.0,8276.0,9315.0,2999.0,2683.0,2980.0,22.0,23.0,22.0,24.0,26.0,24.0,7.0,5.0,9.84,2.63,34717.0,70.0,36272.0,92.0,8.0,187.0,727,861.0,918.0,799.0,52.0,48.0,az
2,040130610324,"Phoenix-Mesa-Scottsdale, AZ",1.0,824.0,220.0,117.03,52.0,62.0,52.0,27.0,33.0,27.0,25.0,29.0,25.0,11.31,21.25,1.86,2.0,2.0,22311.0,19998.0,22158.0,2.0,2.0,2.0,13682.0,12387.0,13645.0,10098.0,9174.0,10086.0,3578.0,3207.0,3553.0,6.0,6.0,6.0,7.0,7.0,7.0,5.7,2.2,3.44,1.88,18034.0,88.0,8027.0,87.0,9.0,283.0,1114,1191.0,1432.0,880.0,56.0,44.0,az
3,040132169013,"Phoenix-Mesa-Scottsdale, AZ",1.0,201.0,130.0,72.82,58.0,68.0,57.0,34.0,42.0,34.0,24.0,26.0,24.0,5.01,8.94,1.76,2.0,2.0,20321.0,17604.0,20073.0,3.0,3.0,3.0,12837.0,11259.0,12708.0,9567.0,8425.0,9477.0,3259.0,2823.0,3219.0,12.0,11.0,12.0,13.0,12.0,13.0,5.9,7.1,28.33,1.79,24598.0,54.0,39081.0,91.0,5.0,220.0,707,1514.0,1514.0,NaN,88.0,12.0,az
4,040210012001,"Phoenix-Mesa-Scottsdale, AZ",1.0,2653.0,827.0,30248.83,55.0,65.0,54.0,26.0,32.0,26.0,29.0,33.0,29.0,10.62,0.29,2.10,2.0,2.0,25504.0,22972.0,25294.0,0.0,0.0,0.0,15530.0,14294.0,15487.0,11440.0,10610.0,11431.0,4090.0,3684.0,4056.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.2,0.79,0.03,1793.0,74.0,1740.0,83.0,121.0,16.0,2336,1149.0,1293.0,907.0,63.0,37.0,az

In [83]:
hta_analysis_df = top_20_cbsa_hta_df.copy()

# Dataframe Export

# Identifying CBSAs of Interest

### New York

In [18]:
ny_cbsas_by_pop_df = hta_state_data['ny'].groupby('cbsa')['population'].sum()

In [20]:
ny_cbsas_by_pop_df.columns = ['cbsa','population']

In [21]:
ny_cbsas_by_pop_df.head()

cbsa
Albany-Schenectady-Troy, NY    877846.0
Amsterdam, NY                   49779.0
Auburn, NY                      79173.0
Batavia, NY                     59458.0
Binghamton, NY                 248292.0
Name: population, dtype: float64

In [25]:
ny_cbsas_by_pop_df.sort_values(ascending=False)

cbsa
New York-Newark-Jersey City, NY-NJ-PA    13342531.0
Buffalo-Cheektowaga-Niagara Falls, NY     1135734.0
Rochester, NY                             1083156.0
Albany-Schenectady-Troy, NY                877846.0
Syracuse, NY                               661914.0
Utica-Rome, NY                             297592.0
Binghamton, NY                             248292.0
Kingston, NY                               181300.0
Jamestown-Dunkirk-Fredonia, NY             132646.0
Glens Falls, NY                            127880.0
Watertown-Fort Drum, NY                    118947.0
Ogdensburg-Massena, NY                     112011.0
Ithaca, NY                                 103855.0
Corning, NY                                 98665.0
Elmira, NY                                  88267.0
Plattsburgh, NY                             81685.0
Auburn, NY                                  79173.0
Olean, NY                                   78962.0
Hudson, NY                                  62195.0
Oneonta, NY                                 61399.0
Batavia, NY                                 59458.0
Gloversville, NY                            54606.0
Malone, NY                                  51280.0
Amsterdam, NY                               49779.0
Cortland, NY                                49043.0
Seneca Falls, NY                            35144.0
Name: population, dtype: float64

In [ ]:
cbsas_of_interest = ['New York-Newark-Jersey City, NY-NJ-PA', 'Los Angeles-Long Beach-Anaheim, CA', chicago, dalla-fw, houston, philly-camden, washington-arlington, miami, atlanta, boston, sf-oak, riverside, phoenix, detroit, seattle, minneapolis, sandiego, tampa, stl, baltimore]

### California

In [26]:
ca_cbsas_by_pop_df = hta_state_data['ca'].groupby('cbsa')['population'].sum()

In [27]:
ca_cbsas_by_pop_df.sort_values(ascending = False)

cbsa
Los Angeles-Long Beach-Anaheim, CA               13154457.0
San Francisco-Oakland-Hayward, CA                 4528894.0
Riverside-San Bernardino-Ontario, CA              4392801.0
San Diego-Carlsbad, CA                            3223096.0
Sacramento--Roseville--Arden-Arcade, CA           2221525.0
San Jose-Sunnyvale-Santa Clara, CA                1925706.0
Fresno, CA                                         956749.0
Bakersfield, CA                                    865736.0
Oxnard-Thousand Oaks-Ventura, CA                   840833.0
Stockton-Lodi, CA                                  708554.0
Modesto, CA                                        527367.0
Santa Rosa, CA                                     495078.0
Visalia-Porterville, CA                            454033.0
Santa Maria-Santa Barbara, CA                      435850.0
Salinas, CA                                        428441.0
Vallejo-Fairfield, CA                              425753.0
San Luis Obispo-Paso Robles-Arroyo Grande, CA      276517.0
Santa Cruz-Watsonville, CA                         269278.0
Merced, CA                                         263885.0
Chico, CA                                          222564.0
Redding, CA                                        178942.0
El Centro, CA                                      178206.0
Yuba City, CA                                      168684.0
Madera, CA                                         153187.0
Hanford-Corcoran, CA                               150998.0
Napa, CA                                           140295.0
Eureka-Arcata-Fortuna, CA                          135034.0
Truckee-Grass Valley, CA                            98570.0
Ukiah, CA                                           87544.0
Clearlake, CA                                       64158.0
Red Bluff, CA                                       63152.0
Sonora, CA                                          54079.0
Susanville, CA                                      32645.0
Crescent City, CA                                   27788.0
Name: population, dtype: float64

# Notes

Questions to answer:
- In Katy's analysis, how did she handle the multiple years in the eviction lab data?
- What is the best way to export data so it can be pulled in for future analyses?
-